<p class="govuk-body">Choose the service you want to sign in to.</p>

<%= render "govuk_publishing_components/components/inset_text", {
  text: "At the moment, there are separate accounts for signing in to different government services."
} %>

<%= tag.div class: "govuk-!-margin-bottom-9 govuk-!-margin-top-7" do %>
  <%= render "govuk_publishing_components/components/heading", {
    text: "Sign in to one of the most viewed services",
    heading_level: 2,
    font_size: "m",
    margin_bottom: 4,
  } %>
  <%
    items = []
    links = [{
      text: "HMRC services",
      path: "/log-in-register-hmrc-online-services",
      description: "Sign in using Government Gateway for tax services including self-assessment.",
    },{
      text: "Universal Credit",
      path: "/sign-in-universal-credit",
      description: "See and update your Universal credit claim.",
    },{
      text: "View and prove your immigration status",
      path: "/view-prove-immigration-status",
      description: "View your immigration status online or prove your status to others.",
    },{
      text: "Manage your GOV.UK email subscriptions",
      path: "/email/manage",
      description: "Sign in to manage the emails you get about GOV.UK pages you’re interested in.",
    },{
      text: "Student finance login",
      path: "/student-finance-register-login",
      description: "Manage your student finance and account details.",
    },{
      text: "Check your State Pension forecast",
      path: "/check-state-pension",
      description: "Find out how much State Pension you could get and when.",
    }]
    links.each_with_index do |link, index|
      link[:data_attributes] = {
        module: "gem-track-click",
        track_category: "DocumentListClicked",
        track_action: "1.#{index}",
        track_label: link[:path],
      }
      link[:full_size_description] = true
      items = items.push({ link: link })
    end
  %>
  <%= render "govuk_publishing_components/components/document_list", {
    items: items
  } %>
<% end %>
